body{
  background-image:url("https://www.imageupload.co.uk/images/2017/06/17/tictactoe.png");
}

h1{
  text-align:center;
  font-family: 'Indie Flower';
  font-size:7em;
  color:#36454f;
}

p{
  font-family:"Indie Flower";
  font-size:15em;
  color:rgba(0,0,0,0);
  margin-bottom:-45%;
  transition-duration: 0.5s;
}

.row{
  margin-left:30%;
  margin-right:20%;
}

.turnSign{
  background-color:#3669FA;
  width:10%;
  height:auto;
  position:absolute;
  top:25%;
  left:85%;
  border-color:#36454f;
  border-style:outset;
  text-align:center;
  font-family:"Indie Flower";
  color:#fac736;
  font-size:2em;
}

h4{
  text-align:center;
  font-size:4em;
  font-family:"Indie Flower";
}

.win-img{
  width:100%;
  height:auto;
}

.tie-img{
  width:80%;
  height:auto;
  margin-left:10%;
}

.fade{
  transition: opacity 3s;
}

@media only screen and (max-width:480px){
  body{
    background-image:url("https://www.imageupload.co.uk/images/2017/07/10/tictactoemobile.png");
    background-size: 75%;
  }

  h1{
    font-size:5em;
    margin-bottom:10%;
    margin-left:-10%;
  }

  p{
    font-size:8em;
  }

  .row{
    margin-left:8%;
    margin-right:15%;
    margin-top:-5%;
  }

  .turnSign{
    top:75%;
    left:20%;
    width:50%;
  }

  h4{
    font-size:3em;
  }

  .modal{
    top:10%;
    left:8%;
    width:75%;
  }

}